// NOT USED

// Colors
$text: rgb(209, 215, 224); // text, bavigaion, buttons, titles, input text
$text-secondary: rgb(145, 152, 161); // minor details, buttons icons
$text-highlight: rgb(71, 139, 230);

$background-main: rgb(21, 27, 35); // main background
$background-secondary: rgb(33, 40, 48); // panel background
$background-emphasis: rgb(38, 44, 54); // headers, row:hover

$border: rgb(61, 68, 77); // same as #3d444d; ?

$button: rgb(42, 49, 60); // buttons
$button-emphasis: rgb(47, 55, 66); // buttons:hover

$ok: rgb(59, 134, 64);

// Form
$control-background: rgb(37, 44, 53);
$control-border: rgb(60, 72, 90);

// Modal

$backdrop: rgba(38, 44, 54, 0.4);
$modal-box-shadow: rgb(61, 68, 77) 0px 0px 0px 1p;
