@use "mixins" as mix;

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-horizontal {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 0.5rem;
        font-weight: bold;
    }
}

