// src/styles/_variables.scss
@use "_theme.scss" as theme;

//@forward "src/styles/_variables.scss" show $error-color;
@mixin error-message {
    color: theme.$error-color;
}

// button
@mixin button {
    padding: theme.$padding-small theme.$padding;
    /*font-size: 1rem;*/
    font-size: 115%;
    font-weight: 500;
    /*margin: theme.$margin;*/
    border: thin solid theme.$border-color; // transparent ?
    border-radius: 5px;
    background-color: theme.$secondary-color; // default
    transition: border-color 0.25s;
    cursor: pointer;

    &:hover {
        border-color: lighten(theme.$secondary-color, 20%); 
    }

    &:focus, &:focus-visible {
        outline: .3rem auto -webkit-focus-ring-color;
    }

    &.submit, &[type="submit"] {
        background-color: theme.$info-color;

        &:hover {
            border-color: lighten(theme.$info-color, 10%);
        }
    }

    &.cancel {
        background-color: theme.$cancel-color;

        &:hover {
            border-color: lighten(theme.$cancel-color, 10%); 
        }
    }

    &.ok {
        background-color: theme.$ok-color;

        &:hover {
            border-color: lighten(theme.$ok-color, 10%); 
        }    
    }
}

// input 
@mixin input {
    background-color: theme.$secondary-color !important;
    padding: theme.$padding-small;
    border: thin solid theme.$border-color;
    border-radius: theme.$space-small;
    
    &:focus {
        outline: none; // Remove default focus outline
        border-color: theme.$primary-color;
        box-shadow: 0 0 5px rgba(theme.$primary-color, 0.5);
  }
}

// panel
@mixin panel {
    background-color: theme.$background-color;
    border: thin solid theme.$border-color;
    border-radius: calc(theme.$border-radius * 2);
    box-shadow: theme.$box-shadow;
}