/* src/assets/styles/_table.scss */

@import '@/styles/theme';

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: $padding;
  border-radius: $border-radius;
  overflow: hidden; // This is important for border-radius to work correctly with collapsed borders

  thead {
    border-radius: $border-radius;
  }

  th, td {
    border: 1px solid $border-color;
    padding: 2px $padding-small;
    text-align: left;
  }

  th {
    background-color: $background-color-emphasis;
    font-weight: bold;
    color: $text-color-emphasis;
  }

  tr:nth-child(even) {
    background-color: $background-color;
  }

  tr:hover {
    background-color: lighten($background-color, 5%);
  }
}