// src/styles/_theme.scss

// Colors
$primary-color: rgb(0, 77, 153);
$secondary-color:  rgb(61, 68, 77); //#6c757d
$accent-color: #28a745;
$background-color: rgb(33, 40, 48);
$background-color-emphasis: #3d444d;
$background-color-active: #3d444d;
$text-color: rgb(173, 178, 185);
$text-color-emphasis: rgb(209, 215, 224);


$ok-color: #35dc67;
$warn-color: orange;
$error-color: #dc3545;
$info-color: #007BFF;
$cancel-color: #555;


// Fonts
$primary-font: "Arial", sans-serif;
$secondary-font: "Helvetica", sans-serif;

// Spacing
$margin: 1rem;
$margin-small: calc($margin / 2);
$margin-big: calc($margin * 2);
$padding: 1rem;
$padding-small: calc($padding / 2);
$padding-big: calc($padding * 2);

// Borders
$border-radius: 5px;
$border-color: $secondary-color;
$border-style: solid;

// Other
$box-shadow_old: 0 0 5px rgba(0, 0, 0, 0.1);
$box-shadow_2: rgba(1, 4, 9, 0.6) 0px 1px 1px 0px;
$box-shadow: rgba(1, 4, 9, 0.6) 0px 1px 1px 0px, rgba(1, 4, 9, 0.6) 0px 1px 3px 0px;
$box-shadow-diffuse: $secondary-color 0 0 5rem;


// Spaces
$space: 0.5rem;
$space-small: calc($space / 2);
$space-big: calc($space * 2);